body{
    background-color: rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    text-align: center;
    background-color: rgb(196, 196, 196);
      
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
}

nav ul li {
    display: inline; /* Faz os itens <li> ficarem lado a lado */
    margin-right: 150px; /* Adiciona um espaçamento entre os itens */
    
}

.titulo1{
    text-align: center;
}

.img1{
   position: relative;
   left: 485px; /* Move a imagem 50 pixels para a direita */
   border: 2px solid black;
   border-radius: 20px;
   
}